<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/transaction.css}" rel="stylesheet" />
</head>
<body>
<div class="container text-center">
    <form class="main-part" method="post" action="/withdrawPasswordInput">
        <p>Are you sure you want to send <span th:text="${amount}"></span> to <span th:text="${transferNumber}"></span>?</p>
        <label>If yes then please insert the password we sent you through mail!</label><br>
        <p class="bg-danger text-light p-2 py-4 " th:if="${error!=null}" th:text="${error}"></p>
        <input class="form-control"  name="password" type="text">
        <input type="hidden" name="transactionId" th:value="${transactionId}">
        <input type="hidden" name="amount" th:value="${amount}">
        <input type="hidden" name="transferNumber" th:value="${transferNumber}">
        <button class="button" type="submit" role="button">Transfer</button>
    </form>
</div>
</body>
</html>